<a href="https://colab.research.google.com/github/mariahirit/MyFirstProjectBig-Data/blob/master/First_Project_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [62]:
import pandas as pd
import numpy as np
import random

In [63]:
import pandas as pd
df =pd.read_csv("Cars Data.csv")
df

      Make                    Model   Type  ...  Weight Wheelbase Length
0    Acura                      MDX    SUV  ...  4451.0     106.0  189.0
1    Acura           RSX Type S 2dr  Sedan  ...  2778.0     101.0  172.0
2    Acura                  TSX 4dr  Sedan  ...  3230.0     105.0  183.0
3    Acura                   TL 4dr  Sedan  ...  3575.0     108.0  186.0
4    Acura               3.5 RL 4dr  Sedan  ...  3880.0     115.0  197.0
..     ...                      ...    ...  ...     ...       ...    ...
427  Volvo  C70 LPT convertible 2dr  Sedan  ...  3450.0     105.0  186.0
428  Volvo  C70 HPT convertible 2dr  Sedan  ...  3450.0     105.0  186.0
429  Volvo               S80 T6 4dr  Sedan  ...  3653.0     110.0  190.0
430  Volvo                      V40  Wagon  ...  2822.0     101.0  180.0
431  Volvo                     XC70  Wagon  ...  3823.0     109.0  186.0

[432 rows x 15 columns]

1.Eliminar identificador sencvencial filas

In [64]:
df = pd.read_csv("Cars Data.csv", index_col = "Make")
df

                         Model   Type  Origin  ...  Weight Wheelbase Length
Make                                           ...
Acura                      MDX    SUV    Asia  ...  4451.0     106.0  189.0
Acura           RSX Type S 2dr  Sedan    Asia  ...  2778.0     101.0  172.0
Acura                  TSX 4dr  Sedan    Asia  ...  3230.0     105.0  183.0
Acura                   TL 4dr  Sedan    Asia  ...  3575.0     108.0  186.0
Acura               3.5 RL 4dr  Sedan    Asia  ...  3880.0     115.0  197.0
...                        ...    ...     ...  ...     ...       ...    ...
Volvo  C70 LPT convertible 2dr  Sedan  Europe  ...  3450.0     105.0  186.0
Volvo  C70 HPT convertible 2dr  Sedan  Europe  ...  3450.0     105.0  186.0
Volvo               S80 T6 4dr  Sedan  Europe  ...  3653.0     110.0  190.0
Volvo                      V40  Wagon  Europe  ...  2822.0     101.0  180.0
Volvo                     XC70  Wagon  Europe  ...  3823.0     109.0  186.0

[432 rows x 14 columns]

2.Mostrar las primeras 5 filas

In [65]:
df.head()

                Model   Type Origin  ...  Weight Wheelbase Length
Make                                 ...
Acura             MDX    SUV   Asia  ...  4451.0     106.0  189.0
Acura  RSX Type S 2dr  Sedan   Asia  ...  2778.0     101.0  172.0
Acura         TSX 4dr  Sedan   Asia  ...  3230.0     105.0  183.0
Acura          TL 4dr  Sedan   Asia  ...  3575.0     108.0  186.0
Acura      3.5 RL 4dr  Sedan   Asia  ...  3880.0     115.0  197.0

[5 rows x 14 columns]

3.Mostrar las ultimas filas del Data Frame

In [66]:
df.tail()

                         Model   Type  Origin  ...  Weight Wheelbase Length
Make                                           ...
Volvo  C70 LPT convertible 2dr  Sedan  Europe  ...  3450.0     105.0  186.0
Volvo  C70 HPT convertible 2dr  Sedan  Europe  ...  3450.0     105.0  186.0
Volvo               S80 T6 4dr  Sedan  Europe  ...  3653.0     110.0  190.0
Volvo                      V40  Wagon  Europe  ...  2822.0     101.0  180.0
Volvo                     XC70  Wagon  Europe  ...  3823.0     109.0  186.0

[5 rows x 14 columns]

4.Mostrando statistica descriptiva

In [67]:
df.describe()

       EngineSize   Cylinders  Horsepower  ...       Weight   Wheelbase      Length
count  428.000000  426.000000  428.000000  ...   428.000000  428.000000  428.000000
mean     3.196729    5.807512  215.885514  ...  3577.953271  108.154206  186.362150
std      1.108595    1.558443   71.836032  ...   758.983215    8.311813   14.357991
min      1.300000    3.000000   73.000000  ...  1850.000000   89.000000  143.000000
25%      2.375000    4.000000  165.000000  ...  3104.000000  103.000000  178.000000
50%      3.000000    6.000000  210.000000  ...  3474.500000  107.000000  187.000000
75%      3.900000    6.000000  255.000000  ...  3977.750000  112.000000  194.000000
max      8.300000   12.000000  500.000000  ...  7190.000000  144.000000  238.000000

[8 rows x 8 columns]

5.Limpiar lor datos

In [68]:
df_filtrado = df.isnull().sum()
df_filtrado

Model          4
Type           4
Origin         4
DriveTrain     4
MSRP           4
Invoice        4
EngineSize     4
Cylinders      6
Horsepower     4
MPG_City       4
MPG_Highway    4
Weight         4
Wheelbase      4
Length         4
dtype: int64

In [69]:
df_filtrado = df.fillna({"Cylinders" : 4})
df_filtrado

                         Model   Type  Origin  ...  Weight Wheelbase Length
Make                                           ...
Acura                      MDX    SUV    Asia  ...  4451.0     106.0  189.0
Acura           RSX Type S 2dr  Sedan    Asia  ...  2778.0     101.0  172.0
Acura                  TSX 4dr  Sedan    Asia  ...  3230.0     105.0  183.0
Acura                   TL 4dr  Sedan    Asia  ...  3575.0     108.0  186.0
Acura               3.5 RL 4dr  Sedan    Asia  ...  3880.0     115.0  197.0
...                        ...    ...     ...  ...     ...       ...    ...
Volvo  C70 LPT convertible 2dr  Sedan  Europe  ...  3450.0     105.0  186.0
Volvo  C70 HPT convertible 2dr  Sedan  Europe  ...  3450.0     105.0  186.0
Volvo               S80 T6 4dr  Sedan  Europe  ...  3653.0     110.0  190.0
Volvo                      V40  Wagon  Europe  ...  2822.0     101.0  180.0
Volvo                     XC70  Wagon  Europe  ...  3823.0     109.0  186.0

[432 rows x 14 columns]

In [70]:
df_filtrado = df.isnull().sum()
df_filtrado

Model          4
Type           4
Origin         4
DriveTrain     4
MSRP           4
Invoice        4
EngineSize     4
Cylinders      6
Horsepower     4
MPG_City       4
MPG_Highway    4
Weight         4
Wheelbase      4
Length         4
dtype: int64

In [71]:
df["Cylinders"]

Make
Acura    6.0
Acura    4.0
Acura    4.0
Acura    6.0
Acura    6.0
        ...
Volvo    5.0
Volvo    5.0
Volvo    6.0
Volvo    4.0
Volvo    5.0
Name: Cylinders, Length: 432, dtype: float64

In [72]:
df["Cylinders"].replace({0:"4"})

Make
Acura    6.0
Acura    4.0
Acura    4.0
Acura    6.0
Acura    6.0
        ...
Volvo    5.0
Volvo    5.0
Volvo    6.0
Volvo    4.0
Volvo    5.0
Name: Cylinders, Length: 432, dtype: float64

In [73]:
df.isnull().sum()
df

                         Model   Type  Origin  ...  Weight Wheelbase Length
Make                                           ...
Acura                      MDX    SUV    Asia  ...  4451.0     106.0  189.0
Acura           RSX Type S 2dr  Sedan    Asia  ...  2778.0     101.0  172.0
Acura                  TSX 4dr  Sedan    Asia  ...  3230.0     105.0  183.0
Acura                   TL 4dr  Sedan    Asia  ...  3575.0     108.0  186.0
Acura               3.5 RL 4dr  Sedan    Asia  ...  3880.0     115.0  197.0
...                        ...    ...     ...  ...     ...       ...    ...
Volvo  C70 LPT convertible 2dr  Sedan  Europe  ...  3450.0     105.0  186.0
Volvo  C70 HPT convertible 2dr  Sedan  Europe  ...  3450.0     105.0  186.0
Volvo               S80 T6 4dr  Sedan  Europe  ...  3653.0     110.0  190.0
Volvo                      V40  Wagon  Europe  ...  2822.0     101.0  180.0
Volvo                     XC70  Wagon  Europe  ...  3823.0     109.0  186.0

[432 rows x 14 columns]

In [74]:
df_filtrado=df.isnull().sum()
df_filtrado

Model          4
Type           4
Origin         4
DriveTrain     4
MSRP           4
Invoice        4
EngineSize     4
Cylinders      6
Horsepower     4
MPG_City       4
MPG_Highway    4
Weight         4
Wheelbase      4
Length         4
dtype: int64

In [75]:
df=df_filtrado.isnull().sum()
df

0

In [76]:
df_filtrado.iloc[0]

4

In [80]:
df_filtrado.iloc[7]

6

In [81]:
df =pd.read_csv("Cars Data.csv")
df

      Make                    Model   Type  ...  Weight Wheelbase Length
0    Acura                      MDX    SUV  ...  4451.0     106.0  189.0
1    Acura           RSX Type S 2dr  Sedan  ...  2778.0     101.0  172.0
2    Acura                  TSX 4dr  Sedan  ...  3230.0     105.0  183.0
3    Acura                   TL 4dr  Sedan  ...  3575.0     108.0  186.0
4    Acura               3.5 RL 4dr  Sedan  ...  3880.0     115.0  197.0
..     ...                      ...    ...  ...     ...       ...    ...
427  Volvo  C70 LPT convertible 2dr  Sedan  ...  3450.0     105.0  186.0
428  Volvo  C70 HPT convertible 2dr  Sedan  ...  3450.0     105.0  186.0
429  Volvo               S80 T6 4dr  Sedan  ...  3653.0     110.0  190.0
430  Volvo                      V40  Wagon  ...  2822.0     101.0  180.0
431  Volvo                     XC70  Wagon  ...  3823.0     109.0  186.0

[432 rows x 15 columns]

6.Filtrando por las filas y columnas

In [82]:
df.iloc[0]

Make              Acura
Model               MDX
Type                SUV
Origin             Asia
DriveTrain          All
MSRP           $36,945
Invoice        $33,337
EngineSize          3.5
Cylinders           6.0
Horsepower        265.0
MPG_City           17.0
MPG_Highway        23.0
Weight           4451.0
Wheelbase         106.0
Length            189.0
Name: 0, dtype: object

In [87]:
df.iloc[[0, 1, 2]]

    Make           Model   Type Origin  ... MPG_Highway  Weight Wheelbase  Length
0  Acura             MDX    SUV   Asia  ...        23.0  4451.0     106.0   189.0
1  Acura  RSX Type S 2dr  Sedan   Asia  ...        31.0  2778.0     101.0   172.0
2  Acura         TSX 4dr  Sedan   Asia  ...        29.0  3230.0     105.0   183.0

[3 rows x 15 columns]

In [ ]:
df.iloc[[428, 430]]

In [109]:
df.loc[[0, 430] , ["Make" , "EngineSize"]]

      Make  EngineSize
0    Acura         3.5
430  Volvo         1.9

In [110]:
df[df["EngineSize"] >2.0]

      Make                    Model   Type  ...  Weight Wheelbase Length
0    Acura                      MDX    SUV  ...  4451.0     106.0  189.0
2    Acura                  TSX 4dr  Sedan  ...  3230.0     105.0  183.0
3    Acura                   TL 4dr  Sedan  ...  3575.0     108.0  186.0
4    Acura               3.5 RL 4dr  Sedan  ...  3880.0     115.0  197.0
5    Acura  3.5 RL w/Navigation 4dr  Sedan  ...  3893.0     115.0  197.0
..     ...                      ...    ...  ...     ...       ...    ...
426  Volvo             S80 2.5T 4dr  Sedan  ...  3691.0     110.0  190.0
427  Volvo  C70 LPT convertible 2dr  Sedan  ...  3450.0     105.0  186.0
428  Volvo  C70 HPT convertible 2dr  Sedan  ...  3450.0     105.0  186.0
429  Volvo               S80 T6 4dr  Sedan  ...  3653.0     110.0  190.0
431  Volvo                     XC70  Wagon  ...  3823.0     109.0  186.0

[349 rows x 15 columns]

In [118]:
df[(df["EngineSize"]> 2.0) & (df["Origin"] == "Asia") & (df["Type"] == "Sedan")]

       Make                    Model   Type  ...  Weight Wheelbase Length
2     Acura                  TSX 4dr  Sedan  ...  3230.0     105.0  183.0
3     Acura                   TL 4dr  Sedan  ...  3575.0     108.0  186.0
4     Acura               3.5 RL 4dr  Sedan  ...  3880.0     115.0  197.0
5     Acura  3.5 RL w/Navigation 4dr  Sedan  ...  3893.0     115.0  197.0
159   Honda            Accord LX 2dr  Sedan  ...  2994.0     105.0  188.0
..      ...                      ...    ...  ...     ...       ...    ...
394  Toyota         Camry XLE V6 4dr  Sedan  ...  3362.0     107.0  189.0
395  Toyota  Camry Solara SLE V6 2dr  Sedan  ...  3439.0     107.0  193.0
396  Toyota           Avalon XLS 4dr  Sedan  ...  3439.0     107.0  192.0
397  Toyota                Sienna CE  Sedan  ...  4120.0     119.0  200.0
398  Toyota       Sienna XLE Limited  Sedan  ...  4165.0     119.0  200.0

[62 rows x 15 columns]